
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
img.logo {
    height: 50px;
}

body {
    background-color: #b0d0d0;
    font-family: "LXGW WenKai TC", cursive, sans-serif;
    font-weight: 400;
}
html, body {
    height: 100%;
}
.mob_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
}

span a {
    font-size: 40px;
    color: #104050;
}

h1 {
    font-weight: bold;
    color: #508070;
    font-size: 16pt;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #508070;
    font-size: 16pt;
    text-align: center;
}

p {
    padding-top: 1px;
    color: #508070;
    font-size: medium;
}
li {
    list-style-type: none;
    padding-bottom: 20px;
    color: #508070;
    list-style-position: inside;
}
li a {
    color: #508070;
    font-size: 20px;
    padding-left: 70px;
}

.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.header {
    background: #60a0b0;
    height: 60px;

}

main {
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 15px repeat(7, 1fr) 10px;
    grid-template-columns: 30px 150px 30px repeat(7, 1fr) 70px 15px;
}
.panel_btn {
    grid-column: 2/3;
    grid-row: 2/9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pad {
    grid-column: 4/11;
    grid-row: 2/9;
    background-image: linear-gradient(to top, #e0cbac 0%, #fff0d0 100%);
    border-bottom: thick solid #d0c0a0;
    border-left: thick solid #d0c0a0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: -8px 8px 4px #666054;
    display: grid;
    grid-template-columns: 5px repeat(10, 10fr) 10px;
    grid-template-rows: 10px repeat(10, 10fr) 10px;
}

.pad_edu {
    overflow-x: hidden;
    scrollbar-width: thin;

    scroll-padding-left: 2px;
    scrollbar-color: #508070 transparent;
    grid-column: 6/12;
    grid-row: 2/12;
    text-align: justify;
}

.slider {
    grid-row: 2/9;
    grid-column: 2/6;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #508070 transparent;

}

.slide {
    padding-bottom: 5px;
    padding-top: 20px;
    padding-left: 20px;
    object-fit: contain;
}


.flower {
    grid-row: 9/13;
    grid-column: 3/5;
    object-fit: cover;
}


.pen {
    grid-column: 11/12;
    grid-row: 2/9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_pen {

    width: 50%;
    height: 90%;

}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.as-button {
    width: 80px; height: 80px; /* Размеры кнопки */
    border-radius: 50%; /* Радиус скругления */
    background-color: #b0d0d0;
    border: hidden;
   }

.as-button:hover {
	animation: bounce 1s;
}

#pearl_1 {
    background-image: url("IMG_0294.png");
    background-size: cover;
}

#pearl_2 {
    background-image: url("IMG_0315.png");
    background-size: cover;
}

#pearl_3 {
    background-image: url("IMG_0323.png");
    background-size: cover;
}

#pearl_4 {
    background-image: url("IMG_0288.png");
    background-size: cover;
}

#pearl_5 {
    background-image: url("IMG_0287.png");
    background-size: cover;
}

.photo {
    z-index: 1;
    grid-column: 3/7;
    grid-row: 3/7;
    height: auto;
    width: 100%;
    background-color: #60a0b0;
    background-image: url("IMG_0350.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;;
    border-left: thick solid #d0c0a0;
    border-bottom: thick solid #d0c0a0;
}



.magnet {
    z-index: 1;
    grid-row: 3;
    grid-column: 6;
    padding-top: 20px;
    height: auto;
}

.magnet2 {
    grid-row: 10;
    grid-column: 10;
    height: auto;
}

.main-note {
    grid-column: 7/12;
    grid-row: 3/7;
    text-align: center;
}

.grass {
    z-index: 0;
    grid-row: 6/13;
    grid-column: 1/9;
    border-bottom-left-radius: 25px;
    height: min-content;
}
.text-panel {
    z-index: 1;
    grid-row: 3/11;
    grid-column: 3/11;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_about {
    z-index: 1;
    grid-row: 3/11;
    grid-column: 3/11;
}
.corner-grass2 {
    grid-row: 8/13;
    grid-column: 1/6;
    height: min-content;
    border-bottom-left-radius: 25px;
}

.requests-panel {
    grid-column: 2/13;
    grid-row: 2/12;
}

li.req {
    padding-bottom: 5px;
}

.corner-grass3 {
    grid-row: 9/13;
    grid-column: 9/13;
    height: min-content;
    border-bottom-right-radius: 25%;
}

.pearl-list {
    height: 10px;
    width: auto;
}

.corner-grass4 {
    grid-column: 10/12;
    grid-row: 10/12;
    height: min-content;
}
.corner-grass5 {
    grid-column: 2/4;
    grid-row: 2/4;
    height: min-content;
}


@media (max-width: 500px) {
    body {
        background-image: linear-gradient(to top, #e0cbac 0%, #fff0d0 100%);
    }
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mob_wrapper {
    background-image: linear-gradient(to top, #e0cbac 0%, #fff0d0 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
}
    .pen {
        display: none;
    }
    .container {
        padding-left: 1em;
        padding-right: 1em;
    }
    .header {
        width: 100%;
        height: 4rem;
    }


    .fox_logo {
        height: 3rem;
    }

    .header a {
        font-size: 3rem;

    }
    .phonenumb {
        display: none;
    }
     main {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(10, 10%);
    }

    .pad {
        background-image: none;
        border: none;
        box-shadow: none;
        grid-column: 1/6;
        grid-row: 1/9;
    }
    .panel_btn {
        z-index: 1;
        grid-column: 1/6;
        grid-row: 9/11;
	background-color: #E0CBACFF;
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr repeat(4, 23%) 1fr;
        justify-items: center;

    }
    .panel_btn h2 {
        font-size: 0.8em;
    }
    .btn1 {
        grid-column: 2;
        grid-row: 1;
    }
    .btn2 {
        grid-column: 3;
        grid-row: 1;
    }
    .btn3 {
        grid-row: 1;
        grid-column: 4;
    }
    .btn4 {
        grid-row: 1;
        grid-column: 5;
    }
    #edu {
        grid-column: 2;
        grid-row: 2;
    }
    #req {
        grid-row: 2;
        grid-column: 3;
    }
    #cons {
        grid-column: 4;
        grid-row: 2;
    }
    #cont {
        grid-row: 2;
        grid-column: 5;
    }
    .photo {
        grid-column: 2/6;
        grid-row: 3/5;
    }
    .magnet {
        z-index: 1;
        grid-row: 3;
        grid-column: 5;
    }
    .text-panel {
        z-index: 1;
        grid-column: 2/12;
        grid-row: 3/11;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-panel ul {
        padding: 0;
    }
    .corner-grass2 {
        grid-row: 9/12;
    }
    .pad_edu {
        grid-column: 3/11;
        grid-row: 2/7;
    }
    .slider {
        grid-row: 7/13;
        grid-column: 7/11;
    }
    .flower {
        grid-column: 4/6;
    }
    .text_about {
        grid-column: 3/11;
        grid-row: 2/11;
        font-size: 1rem;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #508070 #60a0b0;
    }
    .corner-grass5 {
        z-index: 1;
        grid-column: 9/11;
        grid-row: 11/12;
    }
    .corner-grass4 {
        display: none;
    }
    .requests-panel {
        grid-column: 3/11;
        grid-row: 2/12;
        font-size: 1rem;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #508070 #60a0b0;
    }
    ul {
        padding-inline-start: 0;
    }
    .corner-grass3 {
        display: none;
    }
    .pearl-list {
    height: 0.5rem;
    width: auto;
}
    .grass {
        z-index: 0;
        grid-row: 6/12;
	height: 100%;
    }
}
